<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--名称空间 -->
<!--<mapper namespace="mybatis01.conf.EmployeeMapper">-->
<!--绑定接口-->
<mapper namespace="mybatis01.dao.EmployeeMapper">

<!--resultType 希望返回的类型-->
    <!--<select id="selectEmp" resultType="mybatis01.Employee">-->
         <!--select id,last_name lastName, email,gender from employee where id = #{id}-->
 <!--</select>-->
<!--      select id,last_name lastName, email,gender from employee where id = #{id}-->
  <!--select 和接口中的方法绑定-->
    <!--<select id="getEmpById" resultType="mybatis01.Employee">-->
       <!--select * from employee where id=#{id}-->
    <!--</select>-->

    <!--使用别名-->
    <select id="getEmpById" resultType="emp">
    select * from employee where id=#{id}
    </select>


</mapper>