<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis04.dao.EmployeeMapper">
    <cache></cache>
    <select id="getEmpById" resultType="emp">
    select * from employee where id=#{id}
    </select>

</mapper>